@charset "UTF-8";

body {
    background-color: #8ff47f;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color:#105006 ;
}
h1#principal {
    text-align: center;
    background-color:rgb(38, 130, 11);
    color: white;
}
h2 {
    color: #1D940A);
}
.basico {
color:rgb(18, 46, 11) ;
}
.intermediario{
color: rgb(207, 132, 20);
}
.avancado{
color: rgb(195, 19, 19);
}
.destaque{
background-color: rgb(225, 225, 117);
}