@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
   /*height: 100%;*/
}
body {
    background-image: linear-gradient(to right, #F0D7D3,#F3C2A3);
}
main {
    background-color: rgb(252, 249, 249);
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(116, 101, 137, 0.584);
    width: 600px;
    padding: 5px;
    margin: auto;
}
h1{
    color:#EA946E ;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(75, 53, 48, 0.649);
}
h2{
    color:#CFB1BD ;
}
p {
    text-align: justify;
}